.nav-link {
    color: black;
}

#banner {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    background:
}

#servico .row div {
    height: 200px;
    background: green;
    color: white;
}